{{- $name := "yuchenfei" -}}
{{- $email := "cf.yu@qq.com" -}}

{{- $is_ubuntu := hasKey .chezmoi.osRelease "ubuntuCodename" -}}

{{- $is_personal := false -}}{{/* true if this machine should have personal secrets */}}
{{- $hostname := .chezmoi.hostname | lower -}}
{{- $username := .chezmoi.username | lower -}}
{{- if and (eq $hostname "mac-ycf" "ubuntu-ycf") (eq $username "yuchenfei") -}}
{{-   $is_personal = true -}}
{{- end -}}

{{- $is_home := false -}}
{{- $script_path := print .chezmoi.workingTree "/scripts/is_home_network.sh" -}}
{{- $result := trim (output "bash" "-c" $script_path) -}}
{{- if eq $result "home" -}}
{{-   $is_home = true -}}
{{- end -}}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    is_ubuntu = {{ $is_ubuntu }}
    is_personal = {{ $is_personal }}
    is_home = {{ $is_home }}

[diff]
    # exclude = ["scripts"]
    pager = "delta"

[merge]
    command = "nvim"
    args = ["-d", "{{`{{ .Destination }}`}}", "{{`{{ .Source }}", "{{ .Target }}`}}"]
