{{- $name := promptStringOnce . "name" "User name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}

{{- $personal := false -}}
{{- $hostname := .chezmoi.hostname | lower | splitList "-" -}}
{{- if gt (len $hostname) 1 -}}
{{-   $user := index $hostname 1 -}}
{{-   if and (eq $user "ycf") (eq $name "yuchenfei") -}}
{{-     $personal = true -}}
{{-   end -}}
{{- end -}}

{{- $osid := .chezmoi.os -}}
{{- if and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id") -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

encryption = "age"

[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1vxvp73masw2z836l04k8h8gf3kvsuuwcvhvw9js46rhkwudc4gkq5wfkgl"

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    personal = {{ $personal }}
    osid = {{ $osid | quote }}

[diff]
    pager = "delta"

