{{ if eq .chezmoi.os "darwin" "linux" -}}
#!/bin/bash

set -euo pipefail

if command -v fish > /dev/null 2>&1; then
  if [ $SHELL != $(which fish) ]; then
    echo -e "\033[0;32m>>>>> Changing default shell to fish <<<<<\033[0m"
    grep -qxF $(which fish) /etc/shells || echo $(which fish) | sudo tee -a /etc/shells
    chsh -s $(which fish)
  fi
fi
{{ end -}}
