{{ if eq .chezmoi.os "darwin" -}}
#!/opt/homebrew/bin/fish
{{- else }}
#!/usr/bin/fish
{{- end }}

if not type -q fisher
  echo "Installing fisher"
  curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source && fisher install jorgebucaran/fisher
end

fisher update
