{{ if eq .chezmoi.os "darwin" -}}
Include ~/.orbstack/ssh/config

# macOS option
IgnoreUnknown UseKeyChain
UseKeychain yes
{{- end }}

# SSH Agent
AddKeysToAgent yes

# Private Key
IdentityFile ~/.ssh/id_ed25519

{{ if .is_home -}}
Host ubuntu
    HostName 192.168.100.13
    User yuchenfei
    IdentityFile ~/.ssh/home
{{- end }}
