Host *
    AddKeysToAgent yes
    IgnoreUnknown UseKeyChain  # macOS option
    UseKeychain yes

{{ if eq .chezmoi.os "darwin" -}}
Include ~/.orbstack/ssh/config
{{- end }}

{{ if .is_home -}}
Host ubuntu
    HostName 192.168.100.13
    User yuchenfei
    IdentityFile ~/.ssh/home
{{- end }}

{{ if .is_personal -}}
Host github.com
    User git
    IdentityFile ~/.ssh/github
    IdentitiesOnly yes
{{- end }}
