{{- if eq .osid "linux-debian" "linux-ubuntu" -}}

{{- $packages := list
  "build-essential"
  "curl"
  "git"
-}}

#!/bin/bash

set -euo pipefail

sudo apt update
sudo apt install -y {{ $packages | join " " }}

{{- end -}}
