{{ if eq .chezmoi.osRelease.id "debian" "ubuntu" -}}
#!/bin/bash

set -euo pipefail

if ! $(brew -v &> /dev/null); then
  echo -e "\033[0;32m>>>>> Installing Homebrew <<<<<\033[0m"
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

echo -e "\033[0;32m>>>>> Installing Packages (brew) <<<<<\033[0m"
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.common -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.linux.brews -}}
brew {{ . | quote }}
{{ end -}}
EOF

{{ end -}}
