{{- if eq .osid "linux-debian" "linux-ubuntu" -}}

{{- $packages := list
  "build-essential"
  "curl"
  "git"
-}}

#!/bin/bash

source ${CHEZMOI_WORKING_TREE}/scripts/utils.sh

sudo apt update
sudo apt install -y {{ $packages | join " " }}

{{- end -}}
