#!/bin/bash

source ${CHEZMOI_WORKING_TREE}/scripts/utils.sh

log_task "Installing Homebrew Packages"

# brewfile hash: {{ include ".chezmoitemplates/brewfile.tmpl" | sha256sum }}
brew bundle -v --no-lock --no-upgrade --file=/dev/stdin <<EOF
{{ template "brewfile.tmpl" . }}
EOF
