{{- $packages := list
"build-essential"
"curl"
"git"
-}}

#!/bin/bash

source ${CHEZMOI_WORKING_TREE}/scripts/utils.sh

log_task "Installing Basic Apt Packages"

sudo apt update
sudo apt install -y {{ $packages | join " " }}
