set -gx XDG_CONFIG_HOME "$HOME/.config"

{{ if eq .chezmoi.os "darwin" -}}
/opt/homebrew/bin/brew shellenv | source
{{- end }}

if type -q starship
  set -gx STARSHIP_CONFIG ~/.config/starship/starship.toml
  starship init fish | source
end

if type -q thefuck
  thefuck --alias | source
end

if type -q zoxide
  zoxide init fish | source
end

if type -q fnm
  fnm env --use-on-cd | source
end

fastfetch
